<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
    <head>
        <meta http-equiv="Content-type" content="text/html; charset=UTF-8">
        <title>SERGIO CHRISTIAN HERNANDEZ GUTIERREZ - Portfolio</title>
        <link rel="stylesheet" type="text/css" href="../../static/theme/raw/static/export/style/style.css">
        <link rel="stylesheet" type="text/css" href="../../static/theme/raw/static/export/style/print.css">
        <link rel="stylesheet" type="text/css" href="../../static/theme/raw/static/style/views.css">
        <link rel="stylesheet" type="text/css" href="../../static/theme/raw/static/style/tinymce.css">
        <link rel="stylesheet" type="text/css" href="../../static/theme/raw/static/style/style.css">
        <link rel="stylesheet" type="text/css" href="../../static/theme/raw/static/style/style-blessed1.css">
        <link rel="stylesheet" type="text/css" href="../../static/theme/raw/static/style/select2.css">
        <link rel="stylesheet" type="text/css" href="../../static/theme/raw/static/style/datepicker.css">
        <link rel="stylesheet" type="text/css" href="../../static/theme/raw/static/style/cookieconsent.css">
        <link rel="stylesheet" type="text/css" href="../../static/theme/ucl/static/style/tinymce.css">
        <link rel="stylesheet" type="text/css" href="../../static/theme/ucl/static/style/style.css">
        <link rel="stylesheet" type="text/css" href="../../static/theme/ucl/static/style/style-blessed1.css">

    </head>
    <body>
        <div id="mahara-logo">
            <a href="https://mahara.org/"><img src="../../static/theme/ucl/static/images/site-logo.png" alt="Mahara export"></a>
        </div>
        <h1><a href="../../index.html">Individual Reflection #2 - Design Review Meeting #2</a></h1>
        <div id="content">
            <div id="breadcrumbs" class="breadcrumbs">
                <ul>
                    <li>You are here: <a href="../../index.html">Home</a></li>
                    <li>&raquo; Pages</li>
                    <li>&raquo; <a href="index.html">Individual Reflection #2 - Design Review Meeting #2</a></li>

                </ul>
            </div>
            <div id="breadcrumbs-footer"></div>




<p id="view-description"><h1><span style="font-size:12pt;">Reflection</span></h1>
<p><span style="font-size:12pt;">During the second Review Meeting we first introduced our final solution and explained how we got to it. After this, we were asked about some technical issues with the stove we designed which had not been correctly explained in our team pages. This refers to problems such as: <em>will the fan inside the stove deteriorate in the long term due to the great temperatures achieved within the stove and the ashes produced by the burned material above it? </em>We had in fact designed a system of plates by which the fan would be physically separated from the burning materials, as well as picked strong and heat-resistant materials for the fan to be made of. So the issue was not the concept or design process itself, but the information we had provided in our page, where there were no evidence of these solutions. We look forward to write a better explanation of how our system works so our product will be more reliable.</span></p>
<p><span style="font-size:12pt;">The grade we achieved was a 6 overall, and for me it was lower than expected. This tells me that we need to improve our team pages before the final deadline. We have to improve in the following:</span></p>
<ul><li><span style="font-size:12pt;">Better and more intuitive diagrams so the information we are trying to show is widely and easily understood.</span></li>
<li><span style="font-size:12pt;">Introduce the name of our design (Sun Dragon) earlier on the team pages.</span></li>
<li><span style="font-size:12pt;">Eliminate some information which does not contribute to the understanding of our product (for example, the provided energy by solar panels calculation, since we are not using solar panels in our final design).</span></li>
<li><span style="font-size:12pt;">Clarify the versatility of our product (it can be used indoors as well as outdoors, carrying it from one to the other with the help of the wheels), the fan issue aforementioned.</span></li>
<li><span style="font-size:12pt;">Solve a little inconvenience by which a pan or pot big enough could block a great part of the sunlight.</span></li>
</ul><p> </p></p>

<div id="row_1" class="clearfix">
    <div class="row-content">
    <div id="row_1_column_1" class="column-layout columns3 first col-width-33" style="width:31%;">
    <div class="column-content">
        
    </div>
</div>
<div id="row_1_column_2" class="column-layout columns3 col-width-33" style="width:31%;">
    <div class="column-content">
        
    </div>
</div>
<div id="row_1_column_3" class="column-layout columns3 last col-width-33" style="width:31%;">
    <div class="column-content">
        
    </div>
</div>

    </div>
</div>




        </div>
        <div id="footer">
            <p>Export generated for SERGIO CHRISTIAN HERNANDEZ GUTIERREZ on 19 October 2016, 10:05 PM, from their portfolio at <a href="https://myportfolio.ucl.ac.uk/">MyPortfolio @ UCL</a></p>
        </div>
    </body>
</html>

