<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
    <head>
        <meta http-equiv="Content-type" content="text/html; charset=UTF-8">
        <title>SERGIO CHRISTIAN HERNANDEZ GUTIERREZ - Portfolio</title>
        <link rel="stylesheet" type="text/css" href="../../static/theme/raw/static/export/style/style.css">
        <link rel="stylesheet" type="text/css" href="../../static/theme/raw/static/export/style/print.css">
        <link rel="stylesheet" type="text/css" href="../../static/theme/raw/static/style/views.css">
        <link rel="stylesheet" type="text/css" href="../../static/theme/raw/static/style/tinymce.css">
        <link rel="stylesheet" type="text/css" href="../../static/theme/raw/static/style/style.css">
        <link rel="stylesheet" type="text/css" href="../../static/theme/raw/static/style/style-blessed1.css">
        <link rel="stylesheet" type="text/css" href="../../static/theme/raw/static/style/select2.css">
        <link rel="stylesheet" type="text/css" href="../../static/theme/raw/static/style/datepicker.css">
        <link rel="stylesheet" type="text/css" href="../../static/theme/raw/static/style/cookieconsent.css">
        <link rel="stylesheet" type="text/css" href="../../static/theme/ucl/static/style/tinymce.css">
        <link rel="stylesheet" type="text/css" href="../../static/theme/ucl/static/style/style.css">
        <link rel="stylesheet" type="text/css" href="../../static/theme/ucl/static/style/style-blessed1.css">

    </head>
    <body>
        <div id="mahara-logo">
            <a href="https://mahara.org/"><img src="../../static/theme/ucl/static/images/site-logo.png" alt="Mahara export"></a>
        </div>
        <h1><a href="../../index.html">Individual Reflection #1 - Design Review Meeting #1</a></h1>
        <div id="content">
            <div id="breadcrumbs" class="breadcrumbs">
                <ul>
                    <li>You are here: <a href="../../index.html">Home</a></li>
                    <li>&raquo; Pages</li>
                    <li>&raquo; <a href="index.html">Individual Reflection #1 - Design Review Meeting #1</a></li>

                </ul>
            </div>
            <div id="breadcrumbs-footer"></div>




<p id="view-description"><h1 style="text-align:left;"><span style="font-size:24pt;">Individual Reflection</span></h1>
<p><span style="font-size:14pt;">The first Design Review Meeting went well and as expected, and during this time our academic leader pointed several mistakes in the team myPortfolio pages which we will now proceed to improve or solve.  Overall, my average grade (8.33) was similar to the grade we were given (7), and I think the difference was that I did not realized a few mistakes we made.  The areas in which we must improve are:</span></p>
<ul><li><span style="font-size:14pt;">The references used must be linked to the facts that we used in the actual text.</span></li>
<li><span style="font-size:14pt;">There is a grammatical error in "Our 5 Golden Rules" section in which we used "his" instead of "his/her".</span></li>
<li><span style="font-size:14pt;">Some acronyms were not explained ("API", in particular).</span></li>
</ul><p><span style="font-size:14pt;">Also, we must keep improving our research and content gradually as we move towards new knowledge and ideas.</span></p>
<p><span style="font-size:14pt;">My team has a clear objective and all the members always collaborate in order to improve our project progress in every workshop and team meeting.  Thus, I do not have any complaints about the status of the project and the team, nor about the team members as individuals.</span></p>
<p><span style="font-size:14pt;">An example of the good relationships  and commitment in the team is when we needed to decide who would make a short presentation about our project and progress for this Design Review Meeting, for which we needed 3 members out of us 6.  All of us wanted to participate in it so we decided to divide the tasks of this review meeting and also the second one, and therefore every team member would have the opportunity to present one of the 6 topics.</span></p></p>

<div id="row_1" class="clearfix">
    <div class="row-content">
    <div id="row_1_column_1" class="column-layout columns3 first col-width-33" style="width:31%;">
    <div class="column-content">
        
    </div>
</div>
<div id="row_1_column_2" class="column-layout columns3 col-width-33" style="width:31%;">
    <div class="column-content">
        
    </div>
</div>
<div id="row_1_column_3" class="column-layout columns3 last col-width-33" style="width:31%;">
    <div class="column-content">
        
    </div>
</div>

    </div>
</div>




        </div>
        <div id="footer">
            <p>Export generated for SERGIO CHRISTIAN HERNANDEZ GUTIERREZ on 19 October 2016, 10:05 PM, from their portfolio at <a href="https://myportfolio.ucl.ac.uk/">MyPortfolio @ UCL</a></p>
        </div>
    </body>
</html>

