<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
    <head>
        <meta http-equiv="Content-type" content="text/html; charset=UTF-8">
        <title>SERGIO CHRISTIAN HERNANDEZ GUTIERREZ - Portfolio</title>
        <link rel="stylesheet" type="text/css" href="../../static/theme/raw/static/export/style/style.css">
        <link rel="stylesheet" type="text/css" href="../../static/theme/raw/static/export/style/print.css">
        <link rel="stylesheet" type="text/css" href="../../static/theme/raw/static/style/views.css">
        <link rel="stylesheet" type="text/css" href="../../static/theme/raw/static/style/tinymce.css">
        <link rel="stylesheet" type="text/css" href="../../static/theme/raw/static/style/style.css">
        <link rel="stylesheet" type="text/css" href="../../static/theme/raw/static/style/style-blessed1.css">
        <link rel="stylesheet" type="text/css" href="../../static/theme/raw/static/style/select2.css">
        <link rel="stylesheet" type="text/css" href="../../static/theme/raw/static/style/datepicker.css">
        <link rel="stylesheet" type="text/css" href="../../static/theme/raw/static/style/cookieconsent.css">
        <link rel="stylesheet" type="text/css" href="../../static/theme/ucl/static/style/tinymce.css">
        <link rel="stylesheet" type="text/css" href="../../static/theme/ucl/static/style/style.css">
        <link rel="stylesheet" type="text/css" href="../../static/theme/ucl/static/style/style-blessed1.css">

    </head>
    <body>
        <div id="mahara-logo">
            <a href="https://mahara.org/"><img src="../../static/theme/ucl/static/images/site-logo.png" alt="Mahara export"></a>
        </div>
        <h1><a href="../../index.html">Introduction to ENGS101P (Integrated Engineering Program)</a></h1>
        <div id="content">
            <div id="breadcrumbs" class="breadcrumbs">
                <ul>
                    <li>You are here: <a href="../../index.html">Home</a></li>
                    <li>&raquo; Pages</li>
                    <li>&raquo; <a href="index.html">Introduction to ENGS101P (Integrated Engineering Program)</a></li>

                </ul>
            </div>
            <div id="breadcrumbs-footer"></div>




<p id="view-description"><p><span style="font-size:14pt;">I am currently studying first year of Computer Science.</span></p>
<h1><span style="font-size:18pt;">StrengthsFinder</span></h1>
<p><span style="font-size:14pt;">My top five strengths are:</span></p>
<ol><li><span style="font-size:14pt;line-height:1.083em;">Ideation (Strategic Thinking).</span></li>
<li><span style="font-size:14pt;">Analytical (Strategic Thinking).</span></li>
<li><span style="font-size:14pt;">Learner (Strategic Thinking).</span></li>
<li><span style="font-size:14pt;">Competition (Influencing).</span></li>
<li><span style="font-size:14pt;">Futuristic (Strategic Thinking).</span></li>
</ol><p><span style="font-size:14pt;">I think that StrengthsFinder can help us to understand our value as a member of a team or even as an individual worker.  However, I do not think we should be limited to act in accordance to our top five strengths, but to improve in every single direction we can.  I think that this approach to our skills can be helpful when working in a team in this module, since we know what we can expect of our teammates.  Additionally, I agree in general terms with my top five strengths, as I think they reflect my personality and skills (although I do not consider myself that much of a competitive person!).</span></p>
<h1><span style="font-size:18pt;">About me</span></h1>
<p><span style="font-size:14pt;">I love challenges, solving problems and innovating, and therefore engineering! However, I also enjoy singing, playing piano and guitar, song and book writing, reading, and playing any kind of sport.</span></p>
<h1><span style="font-size:18pt;">Integrated Engineering Program</span></h1>
<p><span style="font-size:14pt;">I am originally from Spain and I have many friends studying in universities there, thus I have "third-person" experience of engineering degrees outside of UCL.  One of the bad aspects about technical or engineering courses in many universities is that they do not encourage the students to engage with real problems based on real situations.  This is not only a wrong approach to engineering, but it also breaks the initial motivation and excitement of students apart.  However, in UCL, and thanks to the Integrated Engineering Program and the laboratory sessions, we are able to experience real engineering from the first day, and, in my case (and probably the case of many others), that drives my willing and eagerness to learn to the highest level.</span></p>
<h1><span style="font-size:18pt;">My country and challenge</span></h1>
<p><span style="font-size:14pt;">I have been allocated into the China group, and for me this constitutes a difficult but exiting challenge since I have not been in the country, ergo I do not know much about its culture, economy, climate, resources and other important information relevant to the design process.</span></p>
<p><span style="font-size:14pt;">Between the two challenges, we have decided to find a solution for Challenge 1, which asks us to design a stove for domestic multipurpose usage, taking into account the cost (both initial and maintenance), a high sustainability, effectiveness and safety levels, and a simple design and interface.</span> </p>
<p><span style="font-size:14pt;"> </span></p></p>

<div id="row_1" class="clearfix">
    <div class="row-content">
    <div id="row_1_column_1" class="column-layout columns3 first col-width-33" style="width:31%;">
    <div class="column-content">
        
    </div>
</div>
<div id="row_1_column_2" class="column-layout columns3 col-width-33" style="width:31%;">
    <div class="column-content">
        
    </div>
</div>
<div id="row_1_column_3" class="column-layout columns3 last col-width-33" style="width:31%;">
    <div class="column-content">
        
    </div>
</div>

    </div>
</div>




        </div>
        <div id="footer">
            <p>Export generated for SERGIO CHRISTIAN HERNANDEZ GUTIERREZ on 19 October 2016, 10:05 PM, from their portfolio at <a href="https://myportfolio.ucl.ac.uk/">MyPortfolio @ UCL</a></p>
        </div>
    </body>
</html>

