<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
    <head>
        <meta http-equiv="Content-type" content="text/html; charset=UTF-8">
        <title>SERGIO CHRISTIAN HERNANDEZ GUTIERREZ - Portfolio</title>
        <link rel="stylesheet" type="text/css" href="../../static/theme/raw/static/export/style/style.css">
        <link rel="stylesheet" type="text/css" href="../../static/theme/raw/static/export/style/print.css">
        <link rel="stylesheet" type="text/css" href="../../static/theme/raw/static/style/views.css">
        <link rel="stylesheet" type="text/css" href="../../static/theme/raw/static/style/tinymce.css">
        <link rel="stylesheet" type="text/css" href="../../static/theme/raw/static/style/style.css">
        <link rel="stylesheet" type="text/css" href="../../static/theme/raw/static/style/style-blessed1.css">
        <link rel="stylesheet" type="text/css" href="../../static/theme/raw/static/style/select2.css">
        <link rel="stylesheet" type="text/css" href="../../static/theme/raw/static/style/datepicker.css">
        <link rel="stylesheet" type="text/css" href="../../static/theme/raw/static/style/cookieconsent.css">
        <link rel="stylesheet" type="text/css" href="../../static/theme/ucl/static/style/tinymce.css">
        <link rel="stylesheet" type="text/css" href="../../static/theme/ucl/static/style/style.css">
        <link rel="stylesheet" type="text/css" href="../../static/theme/ucl/static/style/style-blessed1.css">

    </head>
    <body>
        <div id="mahara-logo">
            <a href="https://mahara.org/"><img src="../../static/theme/ucl/static/images/site-logo.png" alt="Mahara export"></a>
        </div>
        <h1><a href="../../index.html">ENGS101P Sustainable Planet Challenge - Sergio Hernandez Page</a></h1>
        <div id="content">
            <div id="breadcrumbs" class="breadcrumbs">
                <ul>
                    <li>You are here: <a href="../../index.html">Home</a></li>
                    <li>&raquo; Pages</li>
                    <li>&raquo; <a href="index.html">ENGS101P Sustainable Planet Challenge - Sergio Hernandez Page</a></li>

                </ul>
            </div>
            <div id="breadcrumbs-footer"></div>




<p id="view-description"><h1 style="text-align:left;"><span style="font-size:18pt;">Introduction</span></h1>
<p style="text-align:left;"><span style="font-size:12pt;">This is the page where I will describe the process of design of the solution for the proposed problem regarding the lack of renewable energy resources in China, focusing on the Yunnan Province.</span></p>
<h1><span style="font-size:18pt;">My country research</span></h1>
<p><span style="font-size:12pt;">China is the most populated country in the world, and up to 50% of its inhabitants live in rural areas.  Many of these places don't have industrial developed economies and base their household income on agriculture, tourism and the exportation of resources. </span></p>
<h2><span style="font-size:12pt;color:#000000;">Economy </span></h2>
<p><span style="font-size:12pt;">The region of Yunnan focuses its agricultural sector on the production and exportation of tobacco and the growing local industries of tea, coffee and flowers.  Tourism is one of the fastest growing sectors of the province, essentially due to the subtropical climate it has, leading to spectacular landscapes, and an ethnically diverse population which increases the domestic tourism.  The most important natural resources in Yunnan are zinc and mainly coal, being this a major aspect of its economy to consider for our ideas on this topic.  However, we will focus on renewable and "green" technologies to tackle the problems and goals of the project.</span></p>
<p><span style="font-size:12pt;">The nominal GDP per capita in Yunnan is approximately £2750 (in accordance to this <a href="https://en.wikipedia.org/wiki/List_of_Chinese_administrative_divisions_by_GDP_per_capita">Wikipedia page</a>, and the information published by <a href="https://www.dbresearch.com/PROD/DBR_INTERNET_EN-PROD/PROD0000000000247543/Yunnan.PDF">Deutsche Bank Research</a> and <a href="http://www.china.org.cn/top10/2014-03/13/content_31769827_6.htm">China.org.cn</a>), which presents a tight budget to our project in terms of market prices, and therefore, in production costs.</span></p>
<h2><span style="font-size:12pt;color:#000000;">Green Development</span></h2>
<p><span style="font-size:12pt;">A major aspect in Yunnan's policies is the "green" status they give to its economy and industrial and domestic activities.  This not only contributes to the preservation of the region and the world's environment, but also protects the landscapes which attract annually millions of tourists around the world.  As we could see in the presentation given to us in our second workshop, renewable energies, such as solar panels, were impressively implemented even in poor villages. This sets our main goal (the development of a sustainable technology to improve the lives of the rural areas' inhabitants) to fit into the region's "green progress" idea.</span></p>
<h2><span style="font-size:12pt;color:#000000;">Climate</span></h2>
<p><span style="font-size:12pt;">The predominant climate of Yunnan is subtropical and stable throughout the year, although we may encounter variations in temperature during the night and day and between northern and southern regions, because there is a meaningful difference in terrain altitude, being the north over 6 km above the south, creating great variations from distant areas. Nonetheless, these temperatures generally range from 8<sup>o</sup>C during the winter up to 30<sup>o</sup>C in the summers, which is one main contributors of the reliability on tourism in the province.  </span></p>
<p> </p>
<table style="height:108px;" width="505"><tbody><tr><td><img src="http://chinatibet.people.com.cn/mediafile/200911/02/P200911020952532469111326.jpg" alt=""></td>
</tr><tr><td><em><span style="font-size:8pt;">© <a href="http://chinatibet.people.com.cn/6800403.html">http://chinatibet.people.com.cn/6800403.html</a> , by Xinhua Photo</span></em></td>
</tr></tbody></table><p> </p>
<p> </p>
<h2><span style="font-size:24px;">Bibliography and References</span></h2>
<ul><li>
<p><span style="font-size:24px;line-height:25.992px;color:#000000;"><span style="font-size:12pt;">Xu Lin (Mar 2014) <em>Top ten provinces with highest GDP quality in 2013</em>, [Online], Available: <a href="http://www.china.org.cn/top10/2014-03/13/content_31769827_6.htm%C2%A0%5B13">http://www.china.org.cn/top10/2014-03/13/content_31769827_6.htm</a> [13 Oct 2015].</span></span></p>
</li>
<li><span style="color:#000000;font-size:12pt;line-height:1.333em;">Deutsche Bank Research</span><span style="color:#000000;font-size:12pt;line-height:1.333em;"> (</span><span style="color:#000000;font-size:12pt;line-height:1.333em;">Oct 2015</span><span style="color:#000000;font-size:12pt;line-height:1.333em;">) </span><em style="color:#000000;font-size:12pt;line-height:1.333em;">Emerging markets</em><span style="color:#000000;font-size:12pt;line-height:1.333em;">, </span><em style="color:#000000;font-size:12pt;line-height:1.333em;">China chartbook </em><span style="color:#000000;font-size:12pt;line-height:1.333em;">[Online], Available: </span><span style="color:#000000;font-size:12pt;line-height:1.333em;"><a href="https://www.dbresearch.com/PROD/DBR_INTERNET_EN-PROD/PROD0000000000247543/Yunnan.PDF%C2%A0%5B13">https://www.dbresearch.com/PROD/DBR_INTERNET_EN-PROD/PROD0000000000247543/Yunnan.PDF</a> [13 Oct 2015].</span></li>
<li><span style="color:#000000;font-size:12pt;line-height:1.333em;">Wikipedia (Oct 2015) </span><em style="color:#000000;font-size:12pt;line-height:1.333em;">List of Chinese administrative divisions by GDP per capita</em><span style="color:#000000;font-size:12pt;line-height:1.333em;">, [Online], Available: <a href="https://en.wikipedia.org/wiki/List_of_Chinese_administrative_divisions_by_GDP_per_capita%C2%A0%5B13">https://en.wikipedia.org/wiki/List_of_Chinese_administrative_divisions_by_GDP_per_capita</a> [13 Oct 2015].</span></li>
<li><span style="color:#000000;font-size:12pt;line-height:1.333em;">Wikipedia (Oct 2015) </span><em style="color:#000000;font-size:12pt;line-height:1.333em;">Yunan</em><span style="color:#000000;font-size:12pt;line-height:1.333em;">,</span><span style="color:#000000;font-size:12pt;line-height:1.333em;"> [Online], Available: </span><span style="color:#000000;font-size:12pt;line-height:1.333em;"><a href="https://en.wikipedia.org/wiki/Yunnan%C2%A0%5B13">https://en.wikipedia.org/wiki/Yunnan</a> [13 Oct 2015].</span></li>
<li><span style="color:#000000;font-size:12pt;line-height:1.333em;">Yeschinatour.com</span><span style="color:#000000;font-size:12pt;line-height:1.333em;"> (</span><span style="color:#000000;font-size:12pt;line-height:1.333em;">Unknown date</span><span style="color:#000000;font-size:12pt;line-height:1.333em;">) </span><em style="color:#000000;font-size:12pt;line-height:1.333em;">Yunnan weather and climate</em><span style="color:#000000;font-size:12pt;line-height:1.333em;">, [Online], Available: </span><span style="color:#000000;font-size:12pt;line-height:1.333em;"><a href="http://www.yeschinatour.com/yunnan-travel/weather.html">http://www.yeschinatour.com/yunnan-travel/weather.html</a> [13 Oct 2015].</span></li>
<li><span style="color:#000000;font-size:12pt;line-height:1.333em;">Annie Wu</span><span style="color:#000000;font-size:12pt;line-height:1.333em;"> (</span><span style="color:#000000;font-size:12pt;line-height:1.333em;">Jan 2015</span><span style="color:#000000;font-size:12pt;line-height:1.333em;">) </span><em style="color:#000000;font-size:12pt;line-height:1.333em;">The main climate features of Yunnan</em><span style="color:#000000;font-size:12pt;line-height:1.333em;">, [Online], Available: <a href="http://www.chinahighlights.com/yunnan/weather.htm">http://www.chinahighlights.com/yunnan/weather.htm</a> [13 Oct 2015].</span></li>
<li>
<p><span style="font-size:12pt;color:#000000;">Zhimin Li, Runsheng Tang<span style="line-height:10.83px;">,</span> Chaofeng Xia, Huilong Luo, Hao Zhong<em> </em>(Feb 2005)<em> Towards green rural energy in Yunnan, China</em>, [Online], Available: <a href="http://www.sciencedirect.com/science/article/pii/S0960148104002204%C2%A0%5B13">http://www.sciencedirect.com/science/article/pii/S0960148104002204</a> [13 Oct 2015].</span></p>
</li>
<li><span style="color:#000000;font-size:12pt;line-height:1.333em;">Netherlands AgriBusiness Support Office Kunming (</span><span style="color:#000000;font-size:12pt;line-height:1.333em;">Unknown</span><span style="color:#000000;font-size:12pt;line-height:1.333em;">) </span><em style="color:#000000;font-size:12pt;line-height:1.333em;">Economy of Yunnan</em><span style="color:#000000;font-size:12pt;line-height:1.333em;">, [Online], Available:</span><span style="color:#000000;font-size:12pt;line-height:1.333em;"><a href="http://nabsokunming.nlmission.org/you-and-yunnan/economy-of-yunnan.html">http://nabsokunming.nlmission.org/you-and-yunnan/economy-of-yunnan.html</a> [13 Oct 2015].</span></li>
<li><span style="color:#000000;font-size:12pt;line-height:1.333em;">Dr. Terence Leung and Dr. Rebecca Yerworth (Sep 2014) </span><em style="color:#000000;font-size:12pt;line-height:1.333em;">General information (Rural China)</em><span style="color:#000000;font-size:12pt;line-height:1.333em;">, [Online], Available: <a href="https://moodle.ucl.ac.uk/mod/page/view.php?id=1637149%C2%A0%5B13">https://moodle.ucl.ac.uk/mod/page/view.php?id=1637149</a> [13 Oct 2015].</span></li>
<li><span style="color:#000000;font-size:12pt;line-height:1.333em;">Dr. Terence Leung and Dr. Rebecca Yerworth (Sep 2014) </span><em style="color:#000000;font-size:12pt;line-height:1.333em;">Major resources and typical energy use (Rural China)</em><span style="color:#000000;font-size:12pt;line-height:1.333em;">, [Online], Available: </span><span style="color:#000000;font-size:12pt;line-height:1.333em;"><a href="https://moodle.ucl.ac.uk/mod/page/view.php?id=1637151%C2%A0%5B13">https://moodle.ucl.ac.uk/mod/page/view.php?id=1637151</a> [13 Oct 2015].</span></li>
</ul><p> </p>
<p> </p>
<p style="text-align:center;"><span style="font-size:10pt;"><strong> </strong></span></p>
<p> </p></p>

<div id="row_1" class="clearfix">
    <div class="row-content">
    <div id="row_1_column_1" class="column-layout columns2 first col-width-33" style="width:31%;">
    <div class="column-content">
        
    </div>
</div>
<div id="row_1_column_2" class="column-layout columns2 last col-width-67" style="width:65%;">
    <div class="column-content">
        
    </div>
</div>

    </div>
</div>




        </div>
        <div id="footer">
            <p>Export generated for SERGIO CHRISTIAN HERNANDEZ GUTIERREZ on 19 October 2016, 10:05 PM, from their portfolio at <a href="https://myportfolio.ucl.ac.uk/">MyPortfolio @ UCL</a></p>
        </div>
    </body>
</html>

