<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
    <head>
        <meta http-equiv="Content-type" content="text/html; charset=UTF-8">
        <title>SERGIO CHRISTIAN HERNANDEZ GUTIERREZ - Portfolio</title>
        <link rel="stylesheet" type="text/css" href="../../static/theme/raw/static/export/style/style.css">
        <link rel="stylesheet" type="text/css" href="../../static/theme/raw/static/export/style/print.css">
        <link rel="stylesheet" type="text/css" href="../../static/theme/raw/static/style/views.css">
        <link rel="stylesheet" type="text/css" href="../../static/theme/raw/static/style/tinymce.css">
        <link rel="stylesheet" type="text/css" href="../../static/theme/raw/static/style/style.css">
        <link rel="stylesheet" type="text/css" href="../../static/theme/raw/static/style/style-blessed1.css">
        <link rel="stylesheet" type="text/css" href="../../static/theme/raw/static/style/select2.css">
        <link rel="stylesheet" type="text/css" href="../../static/theme/raw/static/style/datepicker.css">
        <link rel="stylesheet" type="text/css" href="../../static/theme/raw/static/style/cookieconsent.css">
        <link rel="stylesheet" type="text/css" href="../../static/theme/ucl/static/style/tinymce.css">
        <link rel="stylesheet" type="text/css" href="../../static/theme/ucl/static/style/style.css">
        <link rel="stylesheet" type="text/css" href="../../static/theme/ucl/static/style/style-blessed1.css">

    </head>
    <body>
        <div id="mahara-logo">
            <a href="https://mahara.org/"><img src="../../static/theme/ucl/static/images/site-logo.png" alt="Mahara export"></a>
        </div>
        <h1><a href="../../index.html">Energy Research for Sustainable Energy, Challenge 1</a></h1>
        <div id="content">
            <div id="breadcrumbs" class="breadcrumbs">
                <ul>
                    <li>You are here: <a href="../../index.html">Home</a></li>
                    <li>&raquo; Pages</li>
                    <li>&raquo; <a href="index.html">Energy Research for Sustainable Energy, Challenge 1</a></li>

                </ul>
            </div>
            <div id="breadcrumbs-footer"></div>




<p id="view-description"><h1 style="text-align:justify;"><span style="font-size:12pt;">Energy Research</span></h1>
<p style="text-align:justify;"><span style="font-size:12pt;">I will focus my research on solar energy and in particular in its thermal use. Solar energy is based on the radiation the Sun emits which we can use as a power source. This power not only depends on the energy carried by this radiation, but also on the angle between the Sun rays and the surface of the solar panel. This inclination angle is usually equal to the value of the latitude where the solar panel is situated. The solar radiation can be broken down into three types:</span></p>
<ul><li><span style="font-size:12pt;">Direct: we receive it straight from the Sun.</span></li>
<li><span style="font-size:12pt;">Diffuse: it is reflected on the clouds and the atmosphere and directed towards the Earth's surface.</span></li>
<li><span style="font-size:12pt;">Albedo: it is reflected on the Earth's surface.</span></li>
</ul><p style="text-align:justify;"><span style="font-size:12pt;">The solar energy we receive on the Earth's surface is less than that emitted by the Sun toward us. This is primarily caused  by the reduction of photons that happens in the atmosphere. This effect is produced by the air mass around the Earth, and the further away we get from the equator (the biggest the latitude), the more air mass the photons will have to travel through, and therefore there will be less photons that reach the Earth's surface.</span></p>
<p style="text-align:justify;"><span style="font-size:12pt;">We can use the power we get from the photons emitted by the Sun to generate electricity or heat. </span></p>
<p style="text-align:justify;"><span style="font-size:12pt;">We can generate electricity by using solar or photovoltaic cells which use two layers of doped semi-conductor materials (doping is a process for which we create impurities in a material to ease the movement of electrons), such as doped silicon, which act as "positive", or P-type silicon and "negative" poles, or N-type silicon (depending on the process of doping applied, the material can have multitude of "free" electrons or many "holes", which are spaces in the atoms of the material where electrons can "jump in").  The free electrons of one layer increase their movement and speed because of the energy which is provided by the solar radiation, they are accelerated.  Therefore, they move to the other layer, creating a potential difference or voltage in between.  The energy a solar panel can provide depends on its area, its efficiency, and the Sun's insolation.</span></p>
<p style="text-align:justify;"> </p>
<table style="height:52px;" width="108"><tbody><tr><td><img src="http://www.electronics-tutorials.ws/articles/solar2.gif?81223b" alt="" width="432" height="249"></td>
</tr><tr><td>Structure of a solar cell, © <a href="http://www.electronics-tutorials.ws/diode/bypass-diodes.html">Electronics Tutorials</a></td>
</tr></tbody></table><p style="text-align:justify;"> </p>
<p style="text-align:justify;"><span style="font-size:12pt;">We can also use this solar energy to generate heat.  This is easier and more affordable than photovoltaics  for small scale uses in rural and poor areas, such as Yunnan. However, this method cannot provide as much power as solar cells for a limited area, but I estimate it is enough to greatly help to heat a stove and cook with it.  The process of obtaining heat from solar radiation is simple: the photons which reach the Earth's surface are reflected in heliostats (which are mirrors engineered to follow the Sun's path and reflect as much solar light as possible) and focused on one point.  This point could be a generator used to heat a fluid, usually water, and then the vaporized fluid to move a turbine which would generate mechanical energy.  Also, this point could be directly the object we want to heat, and that is the approach I will try to follow in order to heat the stove.</span></p>
<p style="text-align:justify;"> </p>
<table><tbody><tr><td><img src="http://piximus.net/media/21431/gemasolar-thermosolar-plant-5.jpg" alt="Gemasolar Thermosolar Plant" width="501" height="296"></td>
</tr><tr><td>Thermosolar Plant, © <a href="http://piximus.net/others/gemasolar-thermosolar-plant">Piximus</a></td>
</tr></tbody></table><p style="text-align:justify;"> * In used one reference to clarify some concepts that I already knew, but not for getting specific facts.  However, I have to make mention of the importance of the lecture given by Dr Long Sen To and Dr Arnold McKinley on this topic.</p>
<ul><li><span style="line-height:1.333em;">Jessika Toothman, Scott Aldous (</span><span style="line-height:1.333em;">Unespecified Date of Publication</span><span style="line-height:1.333em;">) </span><span style="line-height:1.333em;">How Solar Cells Work</span><span style="line-height:1.333em;">, [Online], Available: </span><a style="line-height:1.333em;" href="http://science.howstuffworks.com/environmental/energy/solar-cell2.htm">http://science.howstuffworks.com/environmental/energy/solar-cell2.htm</a><span style="line-height:1.333em;"> [23 Oct 2015].</span></li>
</ul></p>

<div id="row_1" class="clearfix">
    <div class="row-content">
    <div id="row_1_column_1" class="column-layout columns3 first col-width-33" style="width:31%;">
    <div class="column-content">
        
    </div>
</div>
<div id="row_1_column_2" class="column-layout columns3 col-width-33" style="width:31%;">
    <div class="column-content">
        
    </div>
</div>
<div id="row_1_column_3" class="column-layout columns3 last col-width-33" style="width:31%;">
    <div class="column-content">
        
    </div>
</div>

    </div>
</div>




        </div>
        <div id="footer">
            <p>Export generated for SERGIO CHRISTIAN HERNANDEZ GUTIERREZ on 19 October 2016, 10:05 PM, from their portfolio at <a href="https://myportfolio.ucl.ac.uk/">MyPortfolio @ UCL</a></p>
        </div>
    </body>
</html>

